@keyframes slideuploadout {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100%);
  }
}

.loadout{
  color:#fff;
  height:100vh;
  width:100vw;
  position:absolute;
  position: fixed;
  z-index: 1;
  background-color: rgb(42, 41, 41);
  animation: slideuploadout 2s;
}

/* @keyframes logoaniamate {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
} */

.logo{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: logoaniamate 2s;
}

/* bottom background angle */
.custom-shape-divider-bottom-1662058999 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding:0;
}

.custom-shape-divider-bottom-1662058999 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 161px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1662058999 .shape-fill {
  fill: #FFFFFF;
}

/* top background angle */
.custom-shape-divider-top-1662058812 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1662058812 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 161px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1662058812 .shape-fill {
  fill: #FFFFFF;
}

/* typewriter animation */
@keyframes typewriter {
  to {
    left:100%;
  }
}
.about h1 , .work h1, .letters h1, .profile h1, .workflow h1, .contact  h1 {
  font-size:4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.3rem;
  position: relative;
  width:max-content;
  /* font-family: "Source Code Pro", monospace; */
}

 .work h1::before,.profile h1::before, .contact  h1::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#f3f3f3;
  animation: typewriter 3s steps(13) 1s forwards;
}
.about h1::before, .letters h1::before, .workflow h1::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#fff;
  animation: typewriter 3s steps(15) 1s forwards;
}

.centerdiv{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container-fluid{
  font-weight: bold;
  padding:0px;
  font-family: 'Lexend Deca', sans-serif;
}

.hero .row{
  /* position: relative;
  z-index:1999; */
  width:100vw;
  height:100vh;
}

.about{
  /* height:110vh; */
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
.abouticons{
  height:100%;
  width:100%;
  padding:1rem;
  margin:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work, .letters, .profile,.worflow, .contact{
  height:fit-content;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-heading{
  text-align: right;
  /* padding-left: 200px; */
}

div hr{
  opacity: 1;
  padding:2px;
  width:7em;
  color:black;
  background-color:black;
}

.letterquote{
  height:40vh;;
  width:40%;
  text-align: center;
}
.letterquote h1:hover + p{
  visibility: hidden;
  background-color: black;
}
.profile, p, h6{
  display: flex;
  align-items: center;
  justify-content: center;
}
.work , p, h6{
  display: flex;
  align-items: center;
  justify-content: center;
}
.letters h6{
  text-align: left;
  display: flex;
  align-items:left;
  justify-content: left;
}
.letters p {
  font-family: "Platin Light",;
}
.work  h6:hover + p{
  height:fit-content;
  width:fit-content;
  position:relative;
  transform: translateY(130%);
  animation: 2s ease-out 0s  1 slideup;
  /* animation: slideuploadout 2s; */
  /* background-color: #000; */
}

@keyframes slideup {
  0% {
    transform: translateY(130%);
  }
  50% {
    transform: translateY(130%);
  }
  50% {
    transform: translateY(-130%);
  }
}

.showbtn button{
  visibility: hidden;
  color:#87C6BD;
  margin-bottom:20px;
  border:none;
  background-color: #fff;
}
.showbtn:hover button{
  visibility: visible;
}

.contact{
  padding-bottom:147px;
}
div.contact.row{
  height:100%;
}

.workflow > .col {
  position: relative;
  z-index:1999;
  padding:10vh;
}

hr{
  animation: 1s ease-in-out 0s 1 slidesidesout;
}

@keyframes slidesidesout {
  0% {
    transform: translateX(130%);
  }
  50%{
    transform: translateX(130%);
  }
  50%{
    transform: translateX(-130%);
  }
}

.sectionheadings{
  margin-bottom:4rem;
}